.swiper {
  height: 100%;
  width: 100%;
}

/* @media screen and (max-width: 768px) {
  .swiper {
    width: 100%;
    height: 100% !important;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
} */

@media screen and (max-width: 992px) {
  .swiper {
    width: 100%;
    height: 100vh !important;
  }

  .swiper-slide img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
  }
  .close {
    content: "";
    position: absolute;
    color: white !important;
    border: none;
    font-size: 15px;
    background-color: transparent !important;
    border-radius: 0% !important;
    padding: 0px 0px !important;
    top: -16px !important;
    right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .swiper {
    width: 100%;
    height: auto !important;
  }

  .swiper-slide img {
    width: 100%;
    height: 100vh !important;
    object-fit: cover;
  }
  .close {
    content: "";
    position: absolute;
    color: white !important;
    border: none;
    font-size: 15px;
    background-color: transparent !important;
    border-radius: 0% !important;
    padding: 0px 0px !important;
    top: -16px !important;
    right: 10px;
  }
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  position: relative;
  width: 100%;
}

.image-one-content {
  content: "";
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
}

.imageone-bottom-content {
  content: "";
  position: absolute;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  bottom: 0;
  right: 1%;
}

.swiper-button {
  display: flex;
  position: absolute;
  top: calc(50% - 12px);
  z-index: 10;
  cursor: pointer;
  background-color: #ef7f1a;
  border-radius: 20px;
  padding: 10px;
  color: white;
}
.swiper-button:hover {
  background-color: white;
  color: black;
}
.swiper-button svg {
  width: 1.5rem;
  height: 1.5rem;
}
.image-swiper-button-prev {
  left: 5px;
}
.image-swiper-button-next {
  right: 5px;
}
.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.popup-content {
  background: transparent;
  border: none;
}

.close {
  content: "";
  position: absolute;
  color: black;
  border: none;
  font-size: 15px;
  background-color: white;
  border-radius: 100%;
  padding: 5px 10px;
  top: -30px;
  right: 10px;
}

.close:focus {
  outline: none;
}

.close:hover {
  background-color: #ef7f1a;
  color: white;
}

.play-button {
  position: relative;
  box-sizing: border-box;
}

.play-button:before {
  animation: ripple 2s ease-out infinite;
  border: solid 1px #fff;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.play-button:after {
  animation: ripple 2s 1s ease-out infinite;
  border: solid 1px #fff;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes ripple {
  0% {
    opacity: 0.25;
  }
  100% {
    border-radius: 50%;
    opacity: 0;
    transform: scale(2);
  }
}
