/* .swiper {
  padding-left: 20px;
  padding-right: 20px;
} */
.blog-swiper .swiper .swiper-slide img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  outline: solid 0px #fff;
  transition: all 0.5s cubic-bezier(1, -0.99, 0.14, 1.8) !important;
}

.blog-swiper .swiper .swiper-slide img:hover {
  outline: solid 30px #fff;
  outline-offset: -30px;
  transition: all 0.5s cubic-bezier(1, -0.99, 0.14, 1.8) !important;
}

.blog-swiper .swiper-pagination-bullet-active {
  background-color: #ef7f01 !important;
  width: 0.5rem;
  height: 0.5rem;
}

.blog-swiper .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
}

.blog-swiper .swiper .swiper-pagination {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.blog-swiper .swiper .swiper-wrapper {
  padding-bottom: 60px;
}
.calnder-div {
  position: relative;
}

.calnder-div:after {
  content: ".";
  position: absolute;
  top: 28%;
  /* right: 50%; */
  transform: translate(-50%, -50%);
  right: -8px;
  color: #ef7f1a;
  font-size: 20px;
}
