/* .swiper {
  padding-left: 20px;
  padding-right: 20px;
} */
.swiper .swiper-slide img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.swiper-pagination-bullet-active {
  background-color: #ef7f01 !important;
  width: 0.5rem;
  height: 0.5rem;
}

.swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
}

.swiper .swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 9999999;
}
