/* .swiper {
  padding-left: 20px;
  padding-right: 20px;
} */
.blog-swiper .swiper .swiper-slide img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.blog-swiper .swiper-pagination-bullet-active {
  background-color: #ef7f01 !important;
  width: 0.5rem;
  height: 0.5rem;
}

.blog-swiper .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
}

.blog-swiper .swiper .swiper-wrapper {
  padding-bottom: 60px;
}

.blog-swiper .swiper .swiper-pagination {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
