/* 
.privacy .terms {
  position: relative;
}

.privacy:after {
  content: "|";
  position: absolute;
  margin-left: 5px;
  color: #787878;
}

.terms:after {
  content: "|";
  position: absolute;
  margin-left: 5px;
  color: #787878;
}



.dropdown-menu:after {
  content: "\25be";
  
}

 */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #ffffff;
  padding: 16px 12px;
}
