/* 
.privacy .terms {
  position: relative;
}

.privacy:after {
  content: "|";
  position: absolute;
  margin-left: 5px;
  color: #787878;
}

.terms:after {
  content: "|";
  position: absolute;
  margin-left: 5px;
  color: #787878;
}



.dropdown-menu:after {
  content: "\25be";
  
}

 */
