.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  padding: 16px 12px;
}

.dropdown {
  position: relative;
}

@media (max-width: 768px) {
  .dropdown:after {
    content: "\2304";
    position: absolute;
    font-size: 15px;
    top: -1%;
    margin-left: 2px;
    font-weight: bold;
  }
}
