.work-container {
  position: relative;
}

.img-png {
  content: "";
  position: absolute;
  top: 0;
  left: -13%;
}

.play-button-two {
  position: relative;
  box-sizing: border-box;
  background-color: black;
}

.play-button-two:before {
  animation: ripple 2s ease-out infinite;
  border: solid 1px black;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.play-button-two:after {
  animation: ripple 2s 1s ease-out infinite;
  border: solid 1px black;
  border-radius: 50%;
  bottom: 0;

  box-sizing: border-box;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes ripple {
  0% {
    opacity: 0.25;
  }
  100% {
    border-radius: 50%;
    opacity: 0;
    transform: scale(2);
  }
}
